C:\Users\User\greenfox\javaTrial\zerda-java-basics-practice\.idea
C:\Users\User\greenfox\javaTrial\zerda-java-basics-practice\javaTrial.iml
C:\Users\User\greenfox\javaTrial\zerda-java-basics-practice\README.md